* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrapAlertFormAdd {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.3);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  z-index: 200;
}
.wrapAlertFormAdd.show {
  display: flex;
}
.wrapAlertFormAdd .formCreateFolder {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: 32px 36px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.25);
}
.wrapAlertFormAdd .formCreateFolder .deleteAlertFolder {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}
.wrapAlertFormAdd .formCreateFolder .deleteAlertFolder .delete {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.wrapAlertFormAdd .formCreateFolder input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px;
  margin-top: 44px;
  margin-bottom: 12px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  outline: none;
}
.wrapAlertFormAdd .formCreateFolder #publish {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  outline: none;
}
.wrapAlertFormAdd .formCreateFolder .DeskripsiFolder {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 12px 10px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  outline: none;
}
.wrapAlertFormAdd .formCreateFolder .btn_create {
  box-sizing: border-box;
  width: 100%;
  background-color: #228b22;
  color: white;
  padding: 12px 16px;
  margin-top: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.wrapAlertFormAdd .formCreateFolder .btn_create:hover {
  border: 2px solid #228b22;
  background-color: white;
  color: #228b22;
}
body {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
main .nav-bar {
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f6f8;
  background-image: url("../../img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  color: white;
}
main .nav-bar .full-wrap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  backdrop-filter: blur(4px);
  color: white;
}
main .nav-bar .hiddenNavbar {
  width: 100%;
  text-align: right;
  font-size: 20px;
  color: black;
}
main .nav-bar .hiddenNavbar .hidden {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}
main .nav-bar .wrapFolder {
  box-sizing: border-box;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
  list-style-type: none;
  overflow: auto;
  color: white;
  gap: 18px;
}
main .nav-bar .wrapFolder li {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 20px;
  color: rgb(255, 255, 255);
}
main .nav-bar .wrapFolder .backed {
  box-sizing: border-box;
  width: 100%;
}
main .nav-bar .wrapFolder .FolderValid {
  background-color: #dedede;
  color: rgb(0, 0, 0);
}
main .nav-bar .wrapFolder .FolderValid .namesFolder {
  box-sizing: border-box;
  width: 70%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .nav-bar .wrapFolder .FolderValid form .wrapAction button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
}
main .nav-bar .wrapFolder li .back {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
main .nav-bar .wrapFolder li form {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
main .nav-bar .wrapFolder li form .hidden {
  display: none;
}
main .nav-bar .wrapFolder li form .nameFolder {
  box-sizing: border-box;
  width: 70%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .nav-bar .wrapFolder li form .wrapAction {
  box-sizing: border-box;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
main .nav-bar .wrapFolder li form .wrapAction button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
}
main .nav-bar .wrapCreateFolder {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 8px 0;
  margin-top: 20px;
}
main .nav-bar .wrapCreateFolder .username {
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}
main .nav-bar .wrapCreateFolder .createdFolder {
  box-sizing: border-box;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
main .nav-bar .logoutForm {
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
}
main .nav-bar .logoutForm button {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 20px;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid #14b8a6;
  color: #14b8a6;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
main .nav-bar .logoutForm button:hover {
  background-color: #14b8a6;
  color: white;
}
main .nav-bar .settingAcount {
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
}
main .nav-bar .settingAcount button {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 20px;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid #14b8a6;
  color: #14b8a6;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
main .nav-bar .settingAcount .hidden {
  display: none;
}
main .nav-bar .settingAcount button:hover {
  background-color: #14b8a6;
  color: white;
}
main .informationDisplay {
  box-sizing: border-box;
  width: 70%;
  max-width: 1650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  background-color: white;
}
main .informationDisplay .wrapHeader {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
main .informationDisplay .wrapHeader .wrap1 {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .informationDisplay .wrapHeader .wrap1 .toggle {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}
main .informationDisplay .wrapHeader .searchData {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  background-color: #f5f6f8;
  border: 2px solid #dedede;
  border-radius: 4px;
  padding: 8px;
  gap: 4px;
}
main .informationDisplay .wrapHeader .searchData:hover {
  box-shadow: 0 0 0 2px #404852;
}
main .informationDisplay .wrapHeader .searchData input[type="search"] {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
main .informationDisplay .wrapHeader .searchData button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}
main .informationDisplay .wrapHeader .searchData button img {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
main .informationDisplay .addNote {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 32px;
}
main .informationDisplay .addNote .hidden {
  box-sizing: border-box;
  display: none;
}
main .informationDisplay .addNote button {
  box-sizing: border-box;
  padding: 6px 8px;
}
main .informationDisplay .wrapNote {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
main .informationDisplay .wrapNote .notes {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  border: 1px solid black;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .informationDisplay .wrapNote .notes button {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  gap: 8px;
}
main .informationDisplay .wrapNote .notes button .title {
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
main .informationDisplay .wrapNote .notes button .description {
  box-sizing: border-box;
  width: 100%;
  max-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
main .informationDisplay .wrapNote .notes button .date {
  box-sizing: border-box;
  width: 100%;
  max-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
main .informationDisplay .wrapNote .notes input {
  border: none;
  outline: none;
}
main .informationDisplay .wrapNote .notes .hidden {
  box-sizing: border-box;
  display: none;
}
@media (min-width: 768px) {
  main .nav-bar .hiddenNavbar {
    display: none;
  }
  main .informationDisplay .wrapHeader .wrap1 .toggle {
    display: none;
  }
}
@media (max-width: 768px) {
  main .nav-bar {
    display: none;
  }
  main .nav-bar.show {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  main .informationDisplay {
    width: 100%;
  }
}
