* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}
main {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  margin-bottom: 32px;
}
main .title {
  box-sizing: border-box;
  width: 100%;

  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}
main form {
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
  gap: 12px;
}
main form label {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
main form label.hidden {
  display: none;
}
main form label input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px;
  outline: none;
  border: none;
}
main .formSettingAcount label input {
  box-sizing: border-box;
  border: 1px solid #d1cfc8;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
main .formSettingAcount label input:focus {
  border: 1px solid #808080;
}
main form button {
  box-sizing: border-box;
  font-weight: 500;
  padding: 6px 12px;
  background-color: #3137fd;
  color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1.5px solid #3137fd;
  cursor: pointer;
}
main form button:hover {
  background-color: white;
  color: #3137fd;
}
@media (max-width: 560px) {
  main {
    height: 100vh;
    justify-content: center;
  }
}
